body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #f9fdf9;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #1f1f1f;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #b0bdb0;
    border-radius: 5px;
    font-size: 16px;
    color: #1f1f1f;
    background-color: #ffffff;
}

.login-container input::placeholder {
    color: #b0bdb0;
}

.login-container button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-left: 3px;
    border: none;
    border-radius: 5px;
    background-color: #fa4b00;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #e04300;
}

.login-container p {
    margin-top: 20px;
    color: #b0bdb0;
}

.login-container a {
    color: #fa4b00;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}